body {
    background-color: #cccccc;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
missao {
    font-size: 20px;
}
#imagem1.jpg {
     width: 100px;
}
#imagem2.jpg {

}
#imagem3.jpg {
    
}